				<div class="autotest-menu-container hidden-md hidden-lg">
					<div class="autotest-section">
						<a href="#">1</a>
					</div>
					<div class="autotest-section">
						<a href="#">2</a>
					</div>
					<div class="autotest-section">
						<a href="#">3</a>
					</div>
					<div class="autotest-section">
						<a href="#">4</a>
					</div>
					<div class="autotest-section">
						<a href="#">5</a>
					</div>
					<div class="autotest-section">
						<a href="#">6</a>
					</div>
				</div>

				<div class="autotest-menu-container-desktop hidden-xs hidden-sm">
					<ul class="sections-menu">
						<li class="item-sections-menu">
							<div class="section-status <%= active_dades_generals %>"><span class="glyphicon glyphicon-ok"></span></div>
							<div class="section-name active-section"><a href="#">Dades generals</a></div>
						</li>
						<li class="item-sections-menu">
							<div class="section-status active-section"><span class="glyphicon glyphicon-arrow-right"></span></div>
							<div class="section-name active-section"><a href="#">Envoltant tèrmica</a></div>
						</li>
						<li class="item-sections-menu">
							<div class="section-status"></div>
							<div class="section-name"><a href="#">Climatització i aigua calenta</a></div>
						</li>
						<li class="item-sections-menu">
							<div class="section-status"></div>
							<div class="section-name"><a href="#">Electrodomèstics</a></div>
						</li>
						<li class="item-sections-menu">
							<div class="section-status"></div>
							<div class="section-name"><a href="#">Ús i manteniment</a></div>
						</li>
						<li class="item-sections-menu">
							<div class="section-status"></div>
							<div class="section-name"><a href="#">Resultats</a></div>
						</li>
					</ul>    
				</div>