<div class="container">
	<div class="row">
	  <div class="col-md-12">
			<h2 class="page-title">AutoTest</h2>
		</div>
	</div>
</div>

<div class="autotest-description">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<p>L’autotest és una eina que permet estimar quina és la qualificació energètica del seu habitatge. Aquesta qualificació energètica és com la dels electrodomèstics, té 7 categories que van de la lletra “A” a la “G”.</p>
				<p>Si som conscients del nostre consum energètic podrem millorar i reduir les emissions de CO<sub>2</sub> a l’atmosfera i el nostre habitatge serà més sostenible.</p>
			</div>
			<div class="col-md-3">
				<%= image_tag('autotest/model_informe.png', :alt => 'Model informe AutoTest', :width => '161', :height => '200') %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="button-autotest">
					<%= link_to("AutoTest", {:controller => '/autotest', :action => 'new'}, :class => 'btn button-new button-big') %>
				</div>
				<p>No requereix registrar-se al web. Us permetrà saber, orientativament, quina és la qualificació energètica del vostre habitatge, però no podreu veure propostes de millora i no podreu guardar la informació.</p>
			</div>
			<div class="col-md-6">
				<div class="button-autotest">
					<%= link_to("AutoTest per usuaris registrats", {:controller => '/projects', :action => 'index'}, :class => 'btn button-new button-big') %>
				</div>
				<p>Registrar-se a Test Energia és gratuït i us permetrà beneficiar-vos dels següents avantatges:</p>
				<p><span class="glyphicon glyphicon-ok-sign"> </span> Informe complet amb propostes de millora per al vostre habitatge.</p>
				<p><span class="glyphicon glyphicon-ok-sign"> </span> Creació de diversos Autotests guardant la informació per a futures consultes.</p>
				<p><span class="glyphicon glyphicon-ok-sign"> </span> Facilitats per a la contractació d'un Test Energia.</p>
				
			</div>
			
		</div>
	</div>
</div>



			