<div class="main-content-inici">
	<div class="container">
		<div class="row">
			<h2 class="page-title">AutoTest Energia</h2>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag('logos_empreses.jpg', :alt => 'logos empreses') %>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<p>L’autotest és una eina que permet estimar quina és la qualificació energètica del seu habitatge. Aquesta qualificació energètica és com la dels electrodomèstics, té 7 categories que van de la lletra “A” a la “G”.</p>
				<p>Si som conscients del nostre consum energètic podrem millorar i reduir les emissions de CO<sub>2</sub> a l’atmosfera i el nostre habitatge serà més sostenible.</p>
				<div class="row">
					<div class="col-md-6 autotest-start-container">

						<div class="autotest-start-buttons">
							<a href="dades_generals"><button type="button" class="btn btn-default">AutoTest de l'habitatge <span class="glyphicon glyphicon-arrow-right"></span></button></a>
						</div>
						<p class="tip-start">(habitatge situat dins d'un edifici plurifamiliar)</p>
					</div>
					<div class="col-md-6 autotest-start-container">

						<div class="autotest-start-buttons">
							<a href="dades_generals"><button type="button" class="btn btn-default">AutoTest de l'edifici <span class="glyphicon glyphicon-arrow-right"></span></button></a>
						</div>
						<p class="tip-start">(edifici sencer o un habitatge unifamiliar)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>