<div class="row">
	<div class="col-md-12">
		<h2>Quadre de control de l'administrador</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6 section-container">
		<h3>Llistat d'experts</h3>
		<% @experts.each do |expert| %>
		<p>
			<%= expert.email %>
			
			

		</p>
		<% end %>
	</div>
	<div class="col-md-5 col-md-offset-1 section-container">
		<h3>Llistat de projectes</h3>
		<% @xprojects.each do |xproject| %>
			<div>
				<h4><%= xproject.name %></h4>
			</div>
		<% end %>
		<hr>
		<h3>Llistat de projectes sense expert assignat</h3>
		<% @unassigned_xprojects.each do |xproject| %>
			<div>
				<h4><%= xproject.name %></h4>
			</div>
		<% end %>
	</div>
</div>