<div class="container">
<div class="row">
	<div class="col-md-12">
		<h2><%= @expert.expert_first_name %> <%= @expert.expert_surname1 %> <%= @expert.expert_surname2 %></h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		
	</div>
</div>

</div>