
<div class="row">
	<div class="col-md-12">
		<div class="home-content">
			<div class="hero-content">
				<div class="row">
					<div class="col-md-7">
						<div class="text-hero">
							<h1>Molt més que la certificació energètica de l'edifici</h1>
							<h2>El Test Energia és una avaluació energètica entenedora, acurada i realista.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<a href="#"><%= image_tag('home/publi_servei.png', :alt => 'Servei', :class => 'img-publi') %></a>
	</div>
	<div class="col-md-4">
		<a href="#"><%= image_tag('home/publi_casajuga.png', :alt => 'Joc Amb la casa sí que s\'hi juga', :class => 'img-publi') %></a>
	</div>
	<div class="col-md-4">
		<a href="#"><%= image_tag('home/publi_autotest.png', :alt => 'AutoTest', :class => 'img-publi') %></a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<h2>Els mitjans de comunicació parlen de Test Energia</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Telenotícies migdia TV3</h4>
		<div class='embed-container'>
			<iframe src='http://www.youtube.com/embed/zf4_kKXYqyE' frameborder='0' allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Telenotícies vespre TV3</h4>
		<div class='embed-container'>
			<iframe src='http://www.youtube.com/embed/D-4f6fuI_r4' frameborder='0' allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Notícies BTV</h4>
		<div class='embed-container'>
			<iframe src='http://www.youtube.com/embed/sIbRwuz49ok' frameborder='0' allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Notícies TV2</h4>
		<div class='embed-container'>
			<iframe src='http://www.youtube.com/embed/3DIU8TI7FeI' frameborder='0' allowfullscreen></iframe>
		</div>
	</div>
</div>

