<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>Informació</h2>
			<p>Per contractar un Test Energia per al vostre edifici o habitatge ens podeu contactar a:</p>
			<p class="info-big"><span class="glyphicon glyphicon-envelope"> </span> <a href="mailto:info@testenergia.cat">info@testenergia.cat</a></p>
			<p class="info-big"><span class="glyphicon glyphicon-earphone"> </span> 93 393 37 40</a>
		</div>
		<div class="col-md-6">
			<h2>Assistència tècnica</h2>
			<p>Si teniu problemes tècnics relacionats amb l'autoavaluació d'experts us podeu dirigir a <a href="mailto:suport@testenergia.cat">suport@testenergia.cat</a></p>
		</div>
	</div>
</div>