<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects delete">
  <h2>Eliminar edifici</h2>

  <%= form_for(:building, :url => {:action => 'destroy', :id => @building.id}) do |f| %>

    <p>Esteu segurs de voler eliminar aquest edifici?</p>

    <p class="reference-name"><%= @building.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Eliminar edifici") %>
    </div>

  <% end %>
</div>