<h1>Buildings#show</h1>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<p>Nom de l'edifici: <%= @building.name %></p>
<p>ID de l'edifici: <%= @building.id %></p>
<p>Àrea: <%= @building.area %></p>
