<div class="print-logo">
    <%= image_tag('logo_test_energia_petit.svg', :alt => 'logo', :class => 'img-responsive') %>
  </div>
  <div class="print-top-info">
    <span>www.testenergia.cat</span><br/>
    <span>info@testenergia.cat</span><br/>
    <span>Tel. 932402060</span>
  </div>
    

  <div class="print-titol">
    <h2 class="print-h2"><%= @xproject.name %></h2>
  </div>