body {
    /*font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 28px;
	font-weight: 400;   */ 
}

.sessionbar {
    background-color: #0E91A1;
    padding: 5px 0px 5px 0px;
}

.sessionbar-text {
    color: white;
    margin: 0px 15px 0px 0px;
    font-size: 13px;
}

.sessionbar-link {
    color: white;
}

.sessionbar-link:hover {
    color: white;
}

.navbar {
    margin-bottom: 0px;   
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-toggle {
    margin-top: 35px;   
}

.navbar-brand {
    padding-left: 0px;   
}

.navbar-buttons-container {
    float: right;
    margin-top: 35px;
}

.navbar-nav > li > a {
    padding: 5px 10px 5px 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #e2f2ee;
    border-radius: 5px;
}

.navbar-collapse {
    margin-top: 36px;   
}

h2.page-title {
    margin: 15px 0px 5px 0px;   
    padding: 15px 0px 30px 0px;
    font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.main-content {
    background-color: #f5f5f5;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
    padding-bottom: 80px;
}

.other-options {
    margin-top: 50px;
    text-align: center;

}

.alert {
    margin-top: 20px;
}

.alert-success {
    color: white;
    background-color: #88BC4A;
}

.alert-warning {
    color: white;
    background-color: #F1693C;

}

.alert-dismissable .close {
    color: white;
    opacity: 0.6;
}

.principal-content {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    margin-bottom: 40px;
}

.button-default {
    background-color: #EAEAEA;
    border: none;
}

.button-default:hover {
    background-color: #0E91A1;
}

.button-new {
    color: white;
    background-color: #88BC4A;
    border: none;
}

.button-new:hover {
    background-color: #0E91A1;
}

.btn:hover {
    color: white;
}

.button-page-menu {
    color: white;
    background-color: #0E91A1;
    border: none;
    margin-top: 20px;
}

.button-page-menu:hover {
    background-color: #4DBCB5;
}

.button-alert {
    color: white;
    background-color: #F1693C;
}

.project-container {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCC;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

label {
    margin-bottom: 0px;
}

.text-tips {
    color: #999;
    font-size: 12px;
}

h1.provisional {
    font-size: 76px;
    margin: 100px;
    padding: 100px;
    text-align: center;
}

.hidden-image {
    float: right;
}

.hidden-content > p {
    font-size: 14px;
    line-height: 22px;
    min-height: 134px;
}

