body {
    /*font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 28px;
	font-weight: 400;   */ 
}

.sessionbar {
    background-color: #0E91A1;
    height: 30px;
}

.sessionbar-text {
    color: white;
    margin: 0px 15px 0px 0px;
    font-size: 13px;
}

.sessionbar-link {
    color: white;
}

.sessionbar-link:hover {
    color: white;
}

.navbar {
    margin-bottom: 4px;   
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.navbar-toggle {
    margin-top: 35px;   
}

.navbar-brand {
    padding-left: 0px;   
}

.navbar-buttons-container {
    float: right;
    margin-top: 35px;
}

.navbar-nav > li > a {
    padding: 5px 10px 5px 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #e2f2ee;
    border-radius: 5px;
}

.navbar-collapse {
    margin-top: 36px;   
}

h2.page-title {
    margin: 15px 0px 30px 0px;   
    padding: 15px 0px 30px 0px;
    font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.main-content {
    background-color: #e2f2ee;
    padding-bottom: 80px;
}

.other-options {
    margin-top: 50px;
    text-align: center;

}
