body {
    /*font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 28px;
	font-weight: 400;   */ 
}
/* ----------------
Header for session, logo and menu, and footer
-----------------*/

.sessionbar {
    background-color: #0E91A1;
    padding: 5px 0px 5px 0px;
}

.sessionbar-text {
    color: white;
    margin: 0px 15px 0px 0px;
    font-size: 13px;
}

.sessionbar-link {
    color: white;
}

.sessionbar-link:hover {
    color: white;
}

.header-menu {
    min-height: 101px;
}

.footer-container {
    padding: 20px 0px 40px 0px;
}


/* ----------------
Home page 
-----------------*/

.home-content {
    
}

.hero-content {
    background-image: url(image-path('home/foto_hero3.jpg'));
    background-size: cover;
    background-color: black;
    min-height: 400px;
}

.text-hero {
    margin-bottom: 60px;
    text-align: center;
}

.text-hero > h1 {
    color: white;
    margin: 0px;
    padding-top: 80px;
}

.text-hero > h2 {
    color: white;
    font-size: 22px;
    padding-top: 20px;
}

.hero-button {
    padding-top: 60px;
    padding-bottom: 40px;
}

.publi {
    padding: 40px 0px 60px 0px;
    background-color: white;
}

.img-publi {
    padding-top: 30px;
    max-width: 140px;
}

.text-publi {
    padding-top: 30px;
}

div.col-md-6.vertical-rule-container {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
    padding-left: 30px;
}

.mitjans-comunicacio {
    background-image: url(image-path('home/mitjans_comunicacio.jpg'));
    background-size: cover;
    background-color: #0E91A1;
    min-height: 400px;
    color: white;
    padding-top: 40px;
    padding-bottom: 80px;
    margin-bottom: -50px;
}

.mitjans-text {
    padding-top: 40px;
}

.botons-videos {
    padding-top: 40px;
}

button.btn.button-success.button-video {
    margin-bottom: 15px;
    color: #333;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/*-----------------
Service page
------------------*/

.explicacio-servei {
    background-color: #0E91A1;
    padding: 60px 0px 60px 0px;
    color: white;
}

.elements-servei {
    margin-top: 50px;
}

.info-certificacio {
    margin-top: 50px;
    margin-bottom: 50px;
}

.service-questions {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-questions {
    text-align: center;
    margin-bottom: 20px;
}

.img-servei {
    text-align: center;
    margin-bottom: 20px;
}

.big-text {
    font-size: 26px;
    line-height: 36px
}



/*-------------------
AutoTest
--------------------*/

.button-autotest {
    text-align: center;
    padding: 60px 0px 30px 0px;
}

.autotest-description {
    margin-bottom: 50px;
}

/*-------------------
Contact page
--------------------*/

.info-big {
    font-size: 28px;
    font-weight: 700;
}

/*-------------------

--------------------*/

.container-left-border {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
}

h2.page-title {
    margin: 15px 0px 5px 0px;   
    padding: 15px 0px 30px 0px;
    font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.main-content {
    background-color: #f5f5f5;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    padding-bottom: 50px;
}

.other-options {
    margin-top: 50px;
    text-align: center;

}



.principal-content {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    margin-bottom: 40px;
}

.buttons-container > a {
    color: #333;
}

.button-page-menu {
    color: white;
    background-color: #0E91A1;
    border: none;
    margin-top: 20px;
}

.button-page-menu:hover {
    background-color: #4DBCB5;
}

.button-alert {
    color: white;
    background-color: #F1693C;
}

.project-container {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCC;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

label {
    margin-bottom: 0px;
}

.text-tips {
    color: #999;
    font-size: 12px;
}

.hidden-image {
    float: right;
}

.hidden-content > p {
    font-size: 14px;
    line-height: 22px;
    min-height: 134px;
}

ul.ui-autocomplete {
    background-color: #4DBCB5;
    padding: 5px;
    list-style-type: none;
    max-width: 340px;
}

li.ui-menu-item {
    color: white;

}

.improvements-table {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 5px;
    text-align: center;
}

