body {
    /*font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 28px;
	font-weight: 400;   */ 
}
/* ----------------
Header for session, logo and menu, and footer
-----------------*/

.sessionbar {
    background-color: #0E91A1;
    padding: 5px 0px 5px 0px;
}

.sessionbar-text {
    color: white;
    margin: 0px 15px 0px 0px;
    font-size: 13px;
}

.sessionbar-link {
    color: white;
}

.sessionbar-link:hover {
    color: white;
}

.header-menu {
    min-height: 101px;
}

.footer-container {
    padding: 20px 0px 40px 0px;
}


/* ----------------
Home page 
-----------------*/

.home-content {
    
}

.hero-content {
    background-image: url('home/background-hero.jpg');
    background-size: cover;
    background-color: black;
    margin-top: 40px;
}

.text-hero {
    padding: 40px 0px 0px 40px;
    margin-bottom: 60px;
}

.text-hero > h1 {
    color: white;
}

.text-hero > h2 {
    color: white;
    font-size: 22px;
}

.img-publi {
    margin-top: 20px;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/*-----------------
Service page
------------------*/

.service-questions {
    text-align: center;
    margin-top: 50px;
}

.img-questions {
    text-align: center;
    margin-bottom: 20px;
}

.img-servei {
    text-align: center;
    margin-bottom: 20px;
}

.big-text {
    font-size: 26px;
    line-height: 36px
}

/*-----------------
Game page
------------------*/


.logo_inici {
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
}

#left-panel {
    background-color: #059e9a;
}


#right-panel {
    width: 740px;
    
}

#indicators-container {
    position: relative;  
    margin-bottom: 15px;
    height: 50px;
}

#container-energy {
    float: left;
    color: #333;
    font-size: 13px;
}

#energy-consumption {
    background-image: url(joc/barra_energia.jpg);
    width: 454px;
    height: 38px;
    box-shadow: 5px 5px 5px #888888;
}

#energy-bar {
    width: 410px;
    height: 26px;
    padding-top: 6px;
    padding-left: 40px;
}

#energy-fill {
    background-image: url(joc/gradient_energia.jpg);
    height: 26px;
    width: 89%;
}

#container-money {
    float: left;
    margin-left: 12px;
    color: #333;
    font-size: 13px;
}

#money {
    background-image: url(joc/monedes.jpg);
    width: 66px;
    height: 31px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px #888888;
}

#container-reload {
    float: left;
    margin-left: 12px;
    margin-top: 15px;
}

#reload {
    background-image: url(joc/reinici.jpg);
    width: 76px;
    height: 26px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 40px;
    box-shadow: 5px 5px 5px #888888;
}

.link_reiniciar {
    text-decoration: none;
    color: white;
}

.link_reiniciar:hover {
    text-decoration: none;
    color: #999;
}

#items-container {
    clear: both;
    position: relative;
    margin-top: 20px;
    height: 172px;
}

.items {
    width: 110px;
    height: 76px;
    margin: 0px 10px 10px 0px;
    float: left;
    box-shadow: 5px 5px 5px #888888;
}

.chat {
    background-color: white;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 5px;
    color: #333;
}

.chat-image {
    margin-bottom: -8px;   
}

.time {
    color: #666;
    text-align: right;
}

.house {
    clear: both;
    position: relative;
    margin: 20px 0px 0px 40px;
}

/* Imatges */

#casa {
    position: absolute;
    top: 0px;
    left: 0px;
    
}

#casa_pintura {
    position: absolute;
    top: 26px;
    left: 207px;
    
}

#casa_finestres {
    position: absolute;
    top: 132px;
    left: 261px;
    
}

#casa_tendal {
    position: absolute;
    top: 105px;
    left: 245px;
    
}

#casa_captadors_termics {
    position: absolute;
    top: 0px;
    left: 190px;
    
}

#casa_jacuzzi {
    position: absolute;
    top: 190px;
    left: 429px;
    
}

#casa_plantes {
    position: absolute;
    top: 245px;
    left: 226px;
    
}

#casa_aillament {
    position: absolute;
    top: 67px;
    left: 1px;
    
}

#casa_tele {
    position: absolute;
    top: 326px;
    left: 260px;
    
}

#casa_captadors_fotovoltaics {
    position: absolute;
    top: 29px;
    left: 100px;
    
}


#punt_pintura {
    position: absolute;
    top: 356px;
    left: 440px;
    
}

#punt_finestres {
    position: absolute;
    top: 312px;
    left: 590px;
    
}

#punt_tendal {
    position: absolute;
    top: 115px;
    left: 380px;
    
}

#punt_captadors_termics {
    position: absolute;
    top: 10px;
    left: 280px;
    
}

#punt_jacuzzi {
    position: absolute;
    top: 190px;
    left: 559px;
    
}

#punt_plantes {
    position: absolute;
    top: 385px;
    left: 610px;
    
}

#punt_aillament {
    position: absolute;
    top: 450px;
    left: 270px;
    
}

#punt_tele {
    position: absolute;
    top: 326px;
    left: 260px;
    
}

#punt_captadors_fotovoltaics {
    position: absolute;
    top: 49px;
    left: 100px;
    
}

#punt_electrodomestics {
    position: absolute;
    top: 329px;
    left: 60px;
    
}

#punt_llums {
    position: absolute;
    top: 180px;
    left: 18px;
    
}

#punt_caldera {
    position: absolute;
    top: 279px;
    left: 10px;
    
}

.text_items {
    background-color: #333;
    padding: 10px;
    width: 250px;
    opacity:0.85;
    display: none;
}

.text_items > h3 {
    color: white;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.text_items > p {
    color: white;
    font-size: 13px;
}

#text_pintura {
    position: absolute;
    top: 356px;
    left: 480px;
    
}

#text_finestres {
    position: absolute;
    top: 312px;
    left: 320px;
    
}

#text_tendal {
    position: absolute;
    top: 115px;
    left: 410px;
    
}

#text_captadors_termics {
    position: absolute;
    top: 10px;
    left: 320px;
    
}

#text_jacuzzi {
    position: absolute;
    top: 190px;
    left: 280px;
    
}

#text_plantes {
    position: absolute;
    top: 355px;
    left: 330px;
    
}

#text_aillament {
    position: absolute;
    top: 410px;
    left: 300px;
    
}

#text_tele {
    position: absolute;
    top: 326px;
    left: 300px;
    
}

#text_captadors_fotovoltaics {
    position: absolute;
    top: 49px;
    left: 140px;
    
}

#text_electrodomestics {
    position: absolute;
    top: 329px;
    left: 100px;
    
}

#text_llums {
    position: absolute;
    top: 180px;
    left: 58px;
    
}

#text_caldera {
    position: absolute;
    top: 279px;
    left: 50px;
    
}

.container_final {
    width: 490px;
    height: 172px;
    padding-left: 220px;
    box-shadow: 5px 5px 5px #888888;
}

.container_final > p {
    color: #555;
    font-size: 16px;
    padding-top: 14px;
}

.final_explica_decepcionat {
    background-image: url(joc/toni_final_explica_decepcionat.jpg);
}

.final_explica {
    background-image: url(joc/toni_final_explica.jpg);
}

.final_content {
    background-image: url(joc/toni_final_content.jpg);
}

.final_content_2 {
    background-image: url(joc/toni_final_content_2.jpg);
}

#advertiser {
    position: absolute;
    top: 250px;
    left: 207px;
    z-index: 100;
    display: none;
}

.last-margin {
    height: 200px;   
}

/*-------------------
Contact page
--------------------*/

.info-big {
    font-size: 28px;
    font-weight: 700;
}

/*-------------------

--------------------*/

.container-left-border {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
}

h2.page-title {
    margin: 15px 0px 5px 0px;   
    padding: 15px 0px 30px 0px;
    font-family: 'Whitney SSm 4r','Whitney SSm A','Whitney SSm B','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.main-content {
    background-color: #f5f5f5;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    padding-bottom: 80px;
}

.other-options {
    margin-top: 50px;
    text-align: center;

}



.principal-content {
    background-color: white;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCC;
    margin-bottom: 40px;
}

.buttons-container > a {
    color: #333;
}

.button-page-menu {
    color: white;
    background-color: #0E91A1;
    border: none;
    margin-top: 20px;
}

.button-page-menu:hover {
    background-color: #4DBCB5;
}

.button-alert {
    color: white;
    background-color: #F1693C;
}

.project-container {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCC;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

label {
    margin-bottom: 0px;
}

.text-tips {
    color: #999;
    font-size: 12px;
}

.hidden-image {
    float: right;
}

.hidden-content > p {
    font-size: 14px;
    line-height: 22px;
    min-height: 134px;
}

ul.ui-autocomplete {
    background-color: #4DBCB5;
    padding: 5px;
    list-style-type: none;
    max-width: 340px;
}

li.ui-menu-item {
    color: white;

}

.improvements-table {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    padding: 5px;
    text-align: center;
}

