// Place all the styles related to the esdevenir_expert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert-autoavaluacio {
	margin: 30px;
	padding: 20px;
	background-color: #F1693C;
	color: white;
}

.passos-expert {
	margin-bottom: 30px;
}