// Place all the styles related to the xprojects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-in-tabs{
	padding: 30px 20px 30px 20px;
	background-color: white;
	border-width: 1px;
	border-color: #dddddd;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
}

.boto-final {
	margin-top: 20px;
}