<p>Hola <%= @resource.email %>!</p>

<p>Algú ha demanat un enllaç per canviar la contrasenya. Ho podeu fer a través del següent enllaç:</p>

<p><%= link_to 'Canviar la meva contrasenya', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si no heu fet aquesta petició, si us plau ignoreu aquest correu.</p>
<p>La vostra contrasenya no canviarà fins que no accediu a l'enllaç de sobre i creeu una nova contrasenya.</p>

