<div class="container">
<div class="row">
  <div class="col-md-12">
    <%= link_to :controller => 'improvements', :action => 'index', :id => @xproject.id do %>
      <div class="btn button-page-menu"><span class="glyphicon glyphicon-arrow-left"> </span> Tornar a la llista de propostes</div>
    <% end %>
    <h2 class="page-title">Llibreria de propostes de millora</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 principal-content">
  	<ul>
	  	<% @default_improvements.each do |improvement| %>
	  	<li>
	  		<%= link_to :controller => 'improvements', :action => 'create_from_default', :id => improvement.id, :xproject_id => @xproject.id do %>
	  			<%= improvement.id %>
	  			<%= improvement.name %>
	  		<% end %>
	  	</li>

	  	<% end %>
  	</ul>
  </div>
</div>
</div>