<div class="container">
<div class="row">
  <div class="col-md-12">
  	<h2>Com ser expert en Test Energia</h2>
  	<p>Per convertir-se expert en Test Energia cal seguir els següents passos:</p>
  </div>
</div>
<div class="row">
	<div class="col-md-6">
  	<div class="passos-expert">
	  	<h4>1. Autoavaluació</h4>
	  	<p>Fer l'autoavaluació per demostrar els coneixements sobre estalvi energètic en edificació.</p>
  	</div>
  	<div class="passos-expert">
	  	<h4>2. Entrevista personal</h4>
	  	<p>Presentar el Currículum Vitae per demostrar la formació i experiència en l’àmbit de la certificació i l’eficiència energètica dels edificis.</p>
  	</div>
  	<div class="passos-expert">
	  	<h4>3. Sessions de capacitació</h4>
	  	<p>Sessions per familiaritzar-se amb les eines de suport que el Test Energia ofereix als professionals.</p>
  	</div>
  	<div class="passos-expert">
	  	<h4>4. Cas pràctic</h4>
	  	<p>Les sessions de capacitació es complementen amb la realització d’un Test Energia sobre un edifici real.</p>
  	</div>
  	<div class="passos-expert">
	  	<h4>5. Inscripció al registre</h4>
	  	<p>Per poder realitzar el Test Energia i utilitzar les eines i serveis de suport que els oferim cal estar inscrit al registre d'experts de Test Energia.</p>
  	</div>
  
  </div>
  <div class="col-md-6">
  	<div class="alert-autoavaluacio">
  		<h3>Atenció!</h3>
  		<p>De forma temporal s'ha desactivat l'autoavaluació.</p>
  		<p>En breu la tornarem a activar i es posaran els comptadors a zero. Així que si havíeu provat de superar-la i no ho vàreu aconseguir però us heu preparat millor, serà un bon moment per tornar-ho a intentar.</p>
  	</div>
  </div>	
</div>
</div>